<ion-side-menus>
    <!-- Center content -->
    <ion-side-menu-content drag-content="false">

        <ion-nav-view name="viewContent">

        </ion-nav-view>
    </ion-side-menu-content>

    <!-- Left menu -->
    <ion-side-menu side="left" class="side-menu">

        <ion-header-bar align-title="center" class="bar-positive">
        </ion-header-bar>

        <ion-content class="has-header">
            <div class="list">
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.home">
                    <i class="icon ion-home"></i>
                    Home
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.deliver">
                    <i class="icon ion-ios-paperplane"></i>
                    Deliver
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.tasks">
                    <i class="icon ion-cube"></i>
                    My Tasks
                </a>
                <a menu-close class="item item-icon-left" ui-sref-active="active" ui-sref="app.account">
                    <i class="icon ion-ios-person"></i>
                    Account
                </a>
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
