.theme-base-bg {
  background-color: $theme-base;
}

.theme-secondary-bg {
  background-color: $theme-secondary;
}

.button-square {
  border-radius: 0px;
}

.no-padding {
    padding: 0px !important;
}
