<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">Deliver</h1>
  </ion-header-bar>

  <ion-content class="theme-base-bg deliver-main" scroll="false">
    <div class="bar bar-header theme-base-bg">

      <div class="title">
        <div class="button-bar segmented-button">
          <a class="button active">CURRENT</a>
          <a class="button">TASK</a>
        </div>
      </div>
    </div>
    <map on-create="initMap(map)"></map>

      <button class="bar-footer button-square button">SEARCH FOR AVAILABLE ORDER</button>
  </ion-content>

</ion-view>
