<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
        <h1 class="title">Home</h1>
    </ion-header-bar>

    <ion-content class="theme-base-bg">
        <div class="home-main">
          <p class="title">
            Crowdsourced Logistic
          </p>
          <button class="button button-square theme-secondary-bg" ng-click="goToDeliverPage()">DELIVER NOW</button>
        </div>
    </ion-content>

</ion-view>
