<ion-view>
  <ion-nav-bar class="bar-positive">

    <ion-nav-back-button>
    </ion-nav-back-button>
    <ion-nav-title>
      <h1 class="title">Task Detail</h1>
    </ion-nav-title>
  </ion-nav-bar>

    <ion-content class="taskdetail-main">
    <div class="order-infos">
      <div class="order-id">
        OrderRef: {{order.orderId}}
      </div>
      <div class="order-price">
        Total Amount: S${{order.amount}}
      </div>
      <div class="status" ng-class="{'status-orange' : order.status == 1,
                  'status-red' : order.status == 2,
                  'status-green' : order.status > 2}">
        Current Status: {{order.currentStatus}}
      </div>
      <div class="from">
        <div class="title">
          Pick Up Contact
        </div>
        <div class="name">
          {{order.contactName}}
        </div>
        <div class="call">
          <a href="tel:{{order.contactNumber}}">
            <img src="img/call.svg" alt="Contact now">
          </a>
        </div>

      </div>
      <div class="address">
        <div class="title">
          PickUp From
        </div>
        <div class="detail">
          <div>
            {{order.fromAddress.extra}}
          </div>
          <div>
            {{order.fromAddress.street}}, {{order.fromAddress.postal}}
          </div>
          <div>
            <a href="http://maps.apple.com?daddr={{order.fromAddress.geoLocation.lat}},{{order.fromAddress.geoLocation.lng}}" target="_blank">View on map</a>
          </div>
        </div>
      </div>
      <div class="address">
        <div class="title">
          Deliver To
        </div>
        <div class="detail">
          <div>
            {{order.toAddress.extra}}
          </div>
          <div>
            {{order.toAddress.street}}, {{order.toAddress.postal}}
          </div>
          <div>
            <a href="http://maps.apple.com?daddr={{order.toAddress.geoLocation.lat}},{{order.toAddress.geoLocation.lng}}" target="_blank">View on map</a>
          </div>
        </div>
      </div>
      <div class="field">
        <div class="title">
          Parcel Type
        </div>
        <div class="name">
          {{order.orderType}}
        </div>
      </div>
      <div class="field">
        <div class="title">
          Comments
        </div>
        <div class="name">
          {{order.comments}}
        </div>
      </div>
    </div>

    <div class="footer">
      <button class="button button-full button-confirm" ng-if="order.status == 1" ng-click="pickUpOrder()">
        I have picked it up
      </button>
      <button class="button button-full button-confirm" ng-if="order.status == 2" ng-click="orderDelivered()">
        I have delivered it
      </button>
    </div>
  </ion-content>
</ion-view>
