<ion-view>
  <ion-header-bar align-title="center" class="bar-positive">
    <button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
    <h1 class="title">Tasks</h1>
  </ion-header-bar>

  <ion-content class="tasks-main">
  <ion-refresher
    pulling-text="Pull to refresh..."
    on-refresh="loadTasks()">
  </ion-refresher>
  <div class="cards-list">
    <div class="card" ng-repeat="order in orders track by $index" ng-click="goToTaskDetail($index)" >
      <div class="item item-divider">
        <div class="row">
          <div class="col col-50 order-id" ng-class="{'status-orange' : order.status == 1,
                      'status-red' : order.status == 2,
                      'status-green' : order.status > 2}">
            {{order.currentStatus}}
          </div>
          <div class="col col-50 price">
            S${{order.amount}}
          </div>
        </div>
      </div>
      <div class="item item-text-wrap">
        <div class="address">
          <div class="title">
            From
          </div>
          <div class="detail">
            <span ng-if="order.fromAddress.extra">
              {{order.fromAddress.extra}},
            </span>
            {{order.fromAddress.street}}, {{order.fromAddress.postal}}
          </div>
        </div>
        <div class="address">
          <div class="title">
            To
          </div>
          <div class="detail">
            <span ng-if="order.toAddress.extra">
              {{order.toAddress.extra}},
            </span>
            {{order.toAddress.street}}, {{order.toAddress.postal}}
          </div>
        </div>
        <div class="category">
          <div class="title">
            Parcel Type
          </div>
          <div class="detail">
            {{order.category}}
          </div>
        </div>
      </div>
      <!-- <div class="item item-divider">
        <div class="button-bar">
          <button class="button button-positive" ng-if="order.status === 1">I have picked it up</button>
          <button class="button button-positive" ng-if="order.status === 2">I have delivered it</button>
        </div>
      </div> -->
    </div>
  </div>

  </ion-content>

</ion-view>
