.taskdetail-main {

  padding: 20px 0px;

  .order-infos {
    min-height: 480px;
    padding: 0px 20px;

    .order-id {
      font-size: 24px;
    }
    .order-price {
      margin-top: 20px;
      color: #184CC9;
      font-size: 20px;
    }

    .status {
      margin-top: 20px;
      font-size: 20px;
    }

    .status-orange {
      color: #FDAF0B;
    }
    .status-green {
      color: #7DBF31;
    }
    .status-red {
      color: #B01522;
    }

    .from {
      margin-top: 20px;
      width: 100%;
      .title {
        color: grey;
      }
      .name {
        color: #0F7BBC;
        font-size: 26px;
        float: left;
        width: 80%;
      }
      .call {
        color: #0F7BBC;
        font-size: 26px;
        float: left;
        width: 20%;
        text-align: center;
        img  {
          height: 21px;
        }
      }

      &:after {
          content:'';
          display:block;
          clear: both;
      }
    }

    .address {
      margin-top: 20px;
      .title {
        color: grey;
      }
      .detail {
        font-size: 22px;

        & > div {
          margin-top: 10px;
        }
      }
    }

    .field {
      margin-top: 20px;
      .title {
        color: grey;
      }
      .name {
        font-size: 22px;
      }
    }
  }

  .footer {
     width: 100%;
      margin-top: 20px;
     .button-confirm {
       color: white;
       background-color: #387ef5;
     }
  }
}
